html .takada-yuki {
  font-size: 316px;
  color: yellow;
  margin: 5px; /* rice-ball line example_flag_scss */
}

html {
  /* rice-ball start example_flag_css */
  color: skyblue;
  /* rice-ball ignore start */
  font-size: 100px;
  /* rice-ball ignore end */
  /* rice-ball end example_flag_css */
  margin: 10px;
}
