html {
  .takada-yuki {
    font-size: 316px;
    color: yellow;
    margin: 5px; // rice-ball line example_flag_scss
  }
  /* rice-ball start example_flag_scss */
  color: skyblue;
  /* rice-ball ignore start */
  font-size: 100px;
  /* rice-ball ignore end */
  /* rice-ball end example_flag_scss */
  margin: 10px;
}
